@import '../../../styles/mixins/index.scss';

.footer {
    background: #39434F;
    padding: 50px 0 37px 0;

    .footeralignment {
        display: flex;
        align-items: center;
        padding: 0 0 24px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.20);
        justify-content: space-between;

        @include breakpoint("sm-max") {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
        }

        .logo {
         
            img {
                cursor: pointer;
            }
        }

        .footermenu {
            display: flex;
            align-items: center;
            gap: 40px;

            a {
                display: block;
                color: #FFF;
                font-size: 18px;
                cursor: pointer;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                transition: .3s ease-in-out;
                @include breakpoint("sm-max") {
                    font-size: 16px;
                    line-height: 20px;
                }
                &:hover {
                    color: #5272FB;
                }
            }
        }
    }

    .copyright {
        padding: 20px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;

        p {
            color: #FFF;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 19px;

            @include breakpoint("sm-max") {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}